rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /admin_users/{document=**} {
      allow read, write: if false;
    }

    match /admin_meta/{document=**} {
      allow read, write: if false;
    }

    match /admin_tokens/{document=**} {
      allow read, write: if false;
    }

    match /admin_audit/{document=**} {
      allow read, write: if false;
    }

    match /api_usage/{document=**} {
      allow read, write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
