ADMIN_SECRET=
ADMIN_BACKEND=
GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_PROJECT_ID=
ADMIN_GOOGLE=off
ADMIN_GOOGLE_CLIENT_ID=
ADMIN_GOOGLE_CLIENT_SECRET=
ADMIN_GOOGLE_REDIRECT=https://amitista.com/api/admin/login/google/callback
ADMIN_GOOGLE_DOMAIN=
TURNSTILE_SECRET=
TURNSTILE_HOSTNAMES=amitista.com,www.amitista.com
