[Unit]
Description=Amitista deploy from main
Documentation=file:/root/website/deploy/autodeploy/README.md
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/root/website/deploy/autodeploy/amitista-autodeploy.sh
TimeoutStartSec=1800
